#paragraph3{
	color: #0080ff;
}

/* #6 change global font family*/
* {
    font-family: "arial", monospace;
    font-size: 20px;
}
/**/
/* #07 change font size of h1 tag using type selector */
h1 {
    font-size: 2rem;
}
/* #08 all caps h2 tag using id selector*/
#header2{
	text-transform: uppercase;
}
/* #09 change background color of the language to be learn list using class selector*/
.ltbl{
	background-color: brown;
	color: white;
}
/* #10 border of the tools to be used list items using attribute selectors*/ 
#ttbu{
	border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;	
}	


/* #11 change list style of other things to be learned list using adjacent sibling selector */
h4 + ul {
	list-style-type: circle;
}
/* #12 change dimension of the image tag using descendant selector*/
#section1 img{
	height: 300px;
    width: 300px;
    border-radius: 150px;
}


/* #13 change alignment of the last paragraph using generic sibling selector*/
h4 ~ p {
	text-align: center;
}
/* #14 change letter spacing of the other things to be learned list items using child selector*/
body > section > ul > li {
    letter-spacing: 2px;
}


